.footer{
    // border-top: 1px solid var(--color-typography-light);
    // background: yellow;
    
    .paragraph-footer{
        text-align: center;
        // padding-right: 10rem;
        color: var(--color-typography-light);
        margin-top: 6rem;
        margin-bottom: 3rem;
        font-size: 2rem;
    }
}